body {
  margin: 0;
  font-family: cursive;
  background-color: #f0f8ee;
  color: #2b2b2b;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #3b3b3b;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #4a7540;
  font-weight: 500;
  transition: color 0.5s;
}

.nav-links a:hover {
  color: #2b8a3eda;
}

/* Main Layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  gap: 80px;
  flex-wrap: wrap;
}
/* pop up effect
.container :hover{
   transform: scale(1.05);
  box-shadow: 0 0 25px #eaeeeb;
  border: 2px solid #23a045;
} */

/* Image box */
.illustration {
  width: 400px;          
  height: 440px;         
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.illustration img {
  width: 100%;
  height: 100%;
  /* object-fit: cover ;      */
  border-radius: 15px;
  transition: 0.2s;
}
/* pop up effect */
.illustration img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #eaeeeb;
  border: 2px solid #23a045;
}


/* login box */
.form-box {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 280px;
  height: 360px;
  text-align: center;
}

.form-box h2 {
  color: #2b2b2b;
  margin-bottom: 35px;
}


input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #4caf50;
}

.btn {
  width: 100%;
  background-color: #23a045;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: cursive;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1d863a;

}
